<h1>Loren Reformado</h1>
<hr>
<h4>hello</h4>

<h1>---Importing pandas and numpy---</h1>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h1>---Making a dataframe for the dataset---</h1>

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>---.describe(): Descriptive analysis, basic statistical function (only numerical data)---</h1>

In [4]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h1>---.T (Transpose) function---</h1>

In [5]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h1>---isnull(): Finds all the NaN (unreadable) value, answers by True or False---</h1>

In [6]:
penguins.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

<h1>---isnull().sum(): to summarize all the NaN value---</h1>

In [7]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h1>---Selecting a column---</h1>

In [8]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

<h1>---.unique(): To get the names of a certain column---</h1>

In [9]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

<h1>---.value_counts(): To count the value of a specific classification---</h1>

In [10]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h1>---Creating a column---</h1>

In [11]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000,1)

In [12]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

<h1>---Creating dataframes---</h1>

In [13]:
adelie_dataframe = penguins[penguins['species'] == "Adelie"]

In [14]:
adelie_dataframe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009,3.5
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009,3.4
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009,3.8
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009,3.7
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009,4.0

In [15]:
gentoo_dataframe = penguins[penguins['species'] == 'Gentoo']

In [16]:
gentoo_dataframe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007,4.5
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007,5.7
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007,4.4
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007,5.7
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007,5.4
...,...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009,NaN
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009,4.8
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009,5.8
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009,5.2
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009,5.4

In [17]:
chinstrap_dataframe = penguins[penguins['species'] == 'Chinstrap']

In [18]:
chinstrap_dataframe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007,3.5
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007,3.9
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007,3.6
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007,3.5
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007,3.7
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [19]:
chinstrap_dataframe.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,mass_kg
count,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000
mean,48.833824,18.420588,195.823529,3733.088235,2007.970588,3.730882
std,3.339256,1.135395,7.131894,384.335081,0.863360,0.389894
min,40.900000,16.400000,178.000000,2700.000000,2007.000000,2.700000
25%,46.350000,17.500000,191.000000,3487.500000,2007.000000,3.475000
50%,49.550000,18.450000,196.000000,3700.000000,2008.000000,3.700000
75%,51.075000,19.400000,201.000000,3950.000000,2009.000000,4.000000
max,58.000000,20.800000,212.000000,4800.000000,2009.000000,4.800000

In [20]:
penguins[penguins['body_mass_g'] >= 4000]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007,4.7
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007,4.2
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007,4.4
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007,4.5
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007,4.2
...,...,...,...,...,...,...,...,...,...
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009,4.3
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.0
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.0
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1

In [21]:
(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Length: 344, dtype: bool

In [22]:
chinstrap_heavy = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]

In [23]:
chinstrap_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
 8   mass_kg            16 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.2+ KB

<h2>How many chinstrap are female?</h2>

In [24]:
(penguins['species'] == 'Chinstrap') & (penguins['sex'] == 'male')

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341     True
342     True
343    False
Length: 344, dtype: bool

In [25]:
male_chinstrap = penguins[(penguins['species'] == 'Chinstrap') & (penguins['sex'] == 'male')]

In [26]:
male_chinstrap

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007,3.9
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007,3.6
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007,3.7
283,Chinstrap,Dream,51.3,18.2,197.0,3750.0,male,2007,3.8
285,Chinstrap,Dream,51.3,19.9,198.0,3700.0,male,2007,3.7
287,Chinstrap,Dream,51.7,20.3,194.0,3775.0,male,2007,3.8
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007,4.0
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007,4.0
292,Chinstrap,Dream,50.3,20.0,197.0,3300.0,male,2007,3.3
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007,4.4
297,Chinstrap,Dream,48.5,17.5,191.0,3400.0,male,2007,3.4
299,Chinstrap,Dream,50.6,19.4,193.0,3800.0,male,2007,3.8
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007,4.2
303,Chinstrap,Dream,49.5,19.0,200.0,3800.0,male,2008,3.8
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008,4.6
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008,4.3
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008,4.1
310,Chinstrap,Dream,49.7,18.6,195.0,3600.0,male,2008,3.6
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008,4.8
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008,4.5
316,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008,4.0
318,Chinstrap,Dream,50.9,19.1,196.0,3550.0,male,2008,3.6
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009,4.4
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009,4.3
324,Chinstrap,Dream,51.5,18.7,187.0,3250.0,male,2009,3.2
327,Chinstrap,Dream,51.4,19.0,201.0,3950.0,male,2009,4.0
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.0
331,Chinstrap,Dream,52.2,18.8,197.0,3450.0,male,2009,3.4
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.0
334,Chinstrap,Dream,50.2,18.8,202.0,3800.0,male,2009,3.8
336,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009,4.0
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1

In [27]:
male_chinstrap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 277 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            34 non-null     object
 1   island             34 non-null     object
 2   bill_length_mm     34 non-null     float64
 3   bill_depth_mm      34 non-null     float64
 4   flipper_length_mm  34 non-null     float64
 5   body_mass_g        34 non-null     float64
 6   sex                34 non-null     object
 7   year               34 non-null     int64
 8   mass_kg            34 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.7+ KB

In [28]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
mass_kg               2
dtype: int64

<h1>---.mean(): to get the average---</h1>

In [29]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

<h1>---.fillna(): Fillng up the null values---</h1>

In [30]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [31]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
mass_kg               2
dtype: int64

In [32]:
penguins['bill_depth_mm'].mean()

np.float64(17.151169590643274)

In [33]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [34]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
mass_kg               2
dtype: int64

In [35]:
penguins['flipper_length_mm'].mean()

np.float64(200.91520467836258)

In [36]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [37]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
mass_kg               2
dtype: int64

In [38]:
penguins['body_mass_g'].mean()

np.float64(4201.754385964912)

In [39]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [40]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
mass_kg               2
dtype: int64

In [41]:
penguins['mass_kg'] = penguins['mass_kg'].fillna(penguins['mass_kg'].mean())

In [42]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
mass_kg               0
dtype: int64

In [43]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
mass_kg               0
dtype: int64

<h1>---.mode(): filling up he null values that isnt numerical---</h1>

In [44]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [45]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [46]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
mass_kg              0
dtype: int64

<h1>Changing the data type</h1>

In [47]:
male_chinstrap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 277 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            34 non-null     object
 1   island             34 non-null     object
 2   bill_length_mm     34 non-null     float64
 3   bill_depth_mm      34 non-null     float64
 4   flipper_length_mm  34 non-null     float64
 5   body_mass_g        34 non-null     float64
 6   sex                34 non-null     object
 7   year               34 non-null     int64
 8   mass_kg            34 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.7+ KB

In [48]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
 8   mass_kg            344 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 24.3+ KB

In [49]:
penguins['species'] = penguins['species'].astype('category')
penguins['year'] = penguins['year'].astype('category')
penguins['island'] = penguins['island'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')

In [50]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    category
 8   mass_kg            344 non-null    float64
dtypes: category(4), float64(5)
memory usage: 15.4 KB

<h1>---Exploratory Data Analytics(EDA): Raising questions and creating insights---</h1>

In [51]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.800000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.200000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.202047
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.400000
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.800000
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.800000

<h1>----------Random questions----------</h1>
<hr>

<h1>1.) Which species has the shortest flipper length by average?</h1>

In [52]:
chinstrap_dataframe['flipper_length_mm'].mean()

np.float64(195.8235294117647)

In [53]:
gentoo_dataframe['flipper_length_mm'].mean()

np.float64(217.1869918699187)

In [54]:
adelie_dataframe['flipper_length_mm'].mean()

np.float64(189.95364238410596)

<h2><strong>Insight:</strong> <i>I, therefore conclude, that the Adelie species has the shortest flipper length based on the dataset.</i></h2>
<hr>

<h1>2.) How many are the female and male species in whole data?</h1>

In [55]:
penguins['sex'].value_counts()

sex
male      179
female    165
Name: count, dtype: int64

<h2><strong>Insight:</strong> <i>We can see from the result that there are more male penguins than female.</i></h2>
<hr>

<h1>3.) Which is the least number of species?</h1>

In [56]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h2><strong>Insight:</strong> <i>Based on the result, Chinstrap has the least number of species while Adelie has the most.</i></h2>
<hr>

<h1>4.) Based on the Gentoo data, how many penguins are there on the latest year 2009?</h1>

In [57]:
gentoo_latest = penguins[(penguins['species'] == 'Gentoo') & (penguins['year'] == 2009)]

In [58]:
gentoo_latest.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 232 to 275
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            44 non-null     category
 1   island             44 non-null     category
 2   bill_length_mm     44 non-null     float64
 3   bill_depth_mm      44 non-null     float64
 4   flipper_length_mm  44 non-null     float64
 5   body_mass_g        44 non-null     float64
 6   sex                44 non-null     category
 7   year               44 non-null     category
 8   mass_kg            44 non-null     float64
dtypes: category(4), float64(5)
memory usage: 2.7 KB

<h2><strong>Insight:</strong> <i>There are 44 Gentoo penguins on the year 2009.</i></h2>
<hr>

<h1>5.) Among the three islands, what has the greatest number of species?</h1>

In [59]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h2><strong>Insight:</strong> <i>We can see from the result that Biscoe island has the highest number of penguins found despite of their classification.</i></h2>
<hr>

<h1>6.) Of all the penguins, what is the usual bill length?</h1>

In [60]:
penguins['bill_length_mm'].mode()

0    41.1
Name: bill_length_mm, dtype: float64

<h2><strong>Insight:</strong> <i>From the result, the usual bill length of the penguins is 41.1mm.</i></h2>
<hr>

<h1>7.) What is the usual weight of all the penguins and each species?</h1>

In [61]:
penguins['mass_kg'].mode()

0    3.6
Name: mass_kg, dtype: float64

In [62]:
adelie_dataframe['mass_kg'].mode()

0    3.4
1    3.6
Name: mass_kg, dtype: float64

In [63]:
chinstrap_dataframe['mass_kg'].mode()

0    3.6
1    3.8
2    4.0
Name: mass_kg, dtype: float64

In [64]:
gentoo_dataframe['mass_kg'].mode()

0    5.0
Name: mass_kg, dtype: float64

<h2><strong>Insight:</strong> <i>The usual weight among all penguins is 3.6kg. While, among the three species, Gentoo has the highest kg, Chinstrap is second, and Adelie has the lowest usual weight.</i></h2>
<hr>

<h1>---DATA AGGREGATION---</h1>
<h2>To combine data</h2>

<h1>---.groupby()---</h1>

<h2>Example: How many are the species per island?</h2>

In [65]:
species_per_island = penguins.groupby(['species', 'island']).count()

In [66]:
species_per_island

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe                 44             44                 44
          Dream                  56             56                 56
          Torgersen              52             52                 52
Chinstrap Biscoe                  0              0                  0
          Dream                  68             68                 68
          Torgersen               0              0                  0
Gentoo    Biscoe                124            124                124
          Dream                   0              0                  0
          Torgersen               0              0                  0

                     body_mass_g  sex  year  mass_kg
species   island
Adelie    Biscoe              44   44    44       44
          Dream               56   56    56       56
          Torgersen           52   52    52       52
Chinstrap Biscoe               0    0     0        0
          Dream               68   68    68       68
          Torgersen            0    0     0        0
Gentoo    Biscoe             124  124   124      124
          Dream                0    0     0        0
          Torgersen            0    0     0        0

In [67]:
species_per_sex = penguins.groupby(['species', 'sex']).count()
species_per_sex

                  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   sex
Adelie    female      73              73             73                 73
          male        79              79             79                 79
Chinstrap female      34              34             34                 34
          male        34              34             34                 34
Gentoo    female      58              58             58                 58
          male        66              66             66                 66

                  body_mass_g  year  mass_kg
species   sex
Adelie    female           73    73       73
          male             79    79       79
Chinstrap female           34    34       34
          male             34    34       34
Gentoo    female           58    58       58
          male             66    66       66

<hr>
<h1>---CORRELATION---</h1>
<h2>To check if a variable is affected by another variable, but not exactly sure if it really is the reason.</h2>

<h1>---Pearson R Correlation---</h1>
<h2>Used for testing correlation between two numerical values.</h2>
<h3> >= 0.5 (with correlation) </h3>
<h3> < (without correlation)</h3>

<h1>---.corr()---</h1>

In [68]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.800000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.200000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.202047
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.400000
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.800000
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.800000

<h1>8. Is there a correlation between bill length and body mass?</h1>

In [69]:
billmass_bodymass_corr = penguins['bill_length_mm'].corr(penguins['body_mass_g'])
billmass_bodymass_corr

np.float64(0.5951098244376304)

<h2><strong>Insight:</strong><i> The result says there is a correlation between bill length and body mass.</i></h2>
<hr>

<h1>9. Is there a correlation between flipper length and their mass in kg?</h1>

In [70]:
flipper_mass_corr = penguins['flipper_length_mm'].corr(penguins['mass_kg'])
flipper_mass_corr

np.float64(0.8706550442461823)

<h2><strong>Insight: </strong><i>According to the result, there is a correlation between flipper_length and body mass.</i></h2>
<hr>

<h1>10. is there a correlation between bill length and bill depth?</h1>

In [72]:
billle_billma_corr = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])
billle_billma_corr

np.float64(-0.23505287035553282)

<h2><strong>Insight: </strong> <i>The result says there is no correlation between bill length and bill depth.</i></h2>
<hr>

<h1>---One Way Anova---</h1>

<h2>Used for analyzing numerical and categorical data</h2>

In [71]:
from scipy.stats import f_oneway

<h1>11. Is there a correlation between the sex of the penguins and their bill length?</h1>

In [73]:
penguins[penguins['sex'] == 'female']['bill_length_mm']

1      39.5
2      40.3
4      36.7
6      38.9
12     41.1
       ...
335    45.6
337    46.8
338    45.7
340    43.5
343    50.2
Name: bill_length_mm, Length: 165, dtype: float64

In [74]:
penguins[penguins['sex'] == 'male']['bill_length_mm']

0      39.10000
3      43.92193
5      39.30000
7      39.20000
8      34.10000
         ...
334    50.20000
336    51.90000
339    55.80000
341    49.60000
342    50.80000
Name: bill_length_mm, Length: 179, dtype: float64

In [75]:
result, pvalue = f_oneway(penguins[penguins['sex'] == 'female']['bill_length_mm'], penguins[penguins['sex'] == 'male']['bill_length_mm'])

In [76]:
pvalue

np.float64(9.307501289283404e-10)

<h2> <strong>Insight: </strong> <i>It shows that there is a correlation between sex and bill length.</i></h2>
<hr>

<h1>12. Is there a correlation between the year and body mass?</h1>

In [80]:
penguins[penguins['year'] == 2007]['mass_kg']

0      3.800000
1      3.800000
2      3.200000
3      4.202047
4      3.400000
         ...
297    3.400000
298    2.900000
299    3.800000
300    3.300000
301    4.200000
Name: mass_kg, Length: 110, dtype: float64

In [81]:
penguins[penguins['year'] == 2008]['mass_kg']

50     3.5
51     4.3
52     3.4
53     4.0
54     2.9
      ...
315    4.5
316    4.0
317    3.6
318    3.6
319    3.5
Name: mass_kg, Length: 114, dtype: float64

In [82]:
penguins[penguins['year'] == 2009]['mass_kg']

100    3.7
101    4.7
102    3.1
103    4.2
104    2.9
      ...
339    4.0
340    3.4
341    3.8
342    4.1
343    3.8
Name: mass_kg, Length: 120, dtype: float64

In [83]:
result, pvalue = f_oneway(penguins[penguins['year'] == 2007]['mass_kg'], penguins[penguins['year'] == 2008]['mass_kg'], penguins[penguins['year'] == 2009]['mass_kg'])

In [84]:
pvalue

np.float64(0.38245184784434805)

<h2> <strong>Insight: </strong><i>The result indicates that there is no correlation between the year and the body mass.</i></h2>
<hr>