###### 

<h1>Loren Reformado</h1>
<hr>
<h4>hello</h4>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [5]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

In [6]:
penguins.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

In [7]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [8]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [9]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [10]:
adelie_dataframe = penguins[penguins['species'] == "Adelie"]

In [11]:
adelie_dataframe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [12]:
gentoo_dataframe = penguins[penguins['species'] == 'Gentoo']

In [13]:
gentoo_dataframe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [14]:
chinstrap_dataframe = penguins[penguins['species'] == 'Chinstrap']

In [15]:
chinstrap_dataframe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [16]:
chinstrap_dataframe.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,68.000000,68.000000,68.000000,68.000000,68.000000
mean,48.833824,18.420588,195.823529,3733.088235,2007.970588
std,3.339256,1.135395,7.131894,384.335081,0.863360
min,40.900000,16.400000,178.000000,2700.000000,2007.000000
25%,46.350000,17.500000,191.000000,3487.500000,2007.000000
50%,49.550000,18.450000,196.000000,3700.000000,2008.000000
75%,51.075000,19.400000,201.000000,3950.000000,2009.000000
max,58.000000,20.800000,212.000000,4800.000000,2009.000000

<h1>creating a column</h1>

In [17]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000,1)

In [18]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [19]:
penguins[penguins['body_mass_g'] >= 4000]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007,4.7
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007,4.2
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007,4.4
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007,4.5
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007,4.2
...,...,...,...,...,...,...,...,...,...
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009,4.3
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.0
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.0
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1

In [20]:
(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Length: 344, dtype: bool

In [21]:
chinstrap_heavy = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]

In [22]:
chinstrap_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
 8   mass_kg            16 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.2+ KB

<h3>How many chinstrap are female?</h3>

In [23]:
(penguins['species'] == 'Chinstrap') & (penguins['sex'] == 'male')

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341     True
342     True
343    False
Length: 344, dtype: bool

In [24]:
male_chinstrap = penguins[(penguins['species'] == 'Chinstrap') & (penguins['sex'] == 'male')]

In [25]:
male_chinstrap

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007,3.9
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007,3.6
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007,3.7
283,Chinstrap,Dream,51.3,18.2,197.0,3750.0,male,2007,3.8
285,Chinstrap,Dream,51.3,19.9,198.0,3700.0,male,2007,3.7
287,Chinstrap,Dream,51.7,20.3,194.0,3775.0,male,2007,3.8
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007,4.0
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007,4.0
292,Chinstrap,Dream,50.3,20.0,197.0,3300.0,male,2007,3.3
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007,4.4
297,Chinstrap,Dream,48.5,17.5,191.0,3400.0,male,2007,3.4
299,Chinstrap,Dream,50.6,19.4,193.0,3800.0,male,2007,3.8
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007,4.2
303,Chinstrap,Dream,49.5,19.0,200.0,3800.0,male,2008,3.8
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008,4.6
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008,4.3
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008,4.1
310,Chinstrap,Dream,49.7,18.6,195.0,3600.0,male,2008,3.6
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008,4.8
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008,4.5
316,Chinstrap,Dream,49.0,19.5,210.0,3950.0,male,2008,4.0
318,Chinstrap,Dream,50.9,19.1,196.0,3550.0,male,2008,3.6
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009,4.4
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009,4.3
324,Chinstrap,Dream,51.5,18.7,187.0,3250.0,male,2009,3.2
327,Chinstrap,Dream,51.4,19.0,201.0,3950.0,male,2009,4.0
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009,4.0
331,Chinstrap,Dream,52.2,18.8,197.0,3450.0,male,2009,3.4
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009,4.0
334,Chinstrap,Dream,50.2,18.8,202.0,3800.0,male,2009,3.8
336,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,2009,4.0
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1

In [26]:
male_chinstrap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 277 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            34 non-null     object
 1   island             34 non-null     object
 2   bill_length_mm     34 non-null     float64
 3   bill_depth_mm      34 non-null     float64
 4   flipper_length_mm  34 non-null     float64
 5   body_mass_g        34 non-null     float64
 6   sex                34 non-null     object
 7   year               34 non-null     int64
 8   mass_kg            34 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.7+ KB

In [27]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
mass_kg               2
dtype: int64

In [28]:
penguins['bill_length_mm'].mean()

43.9219298245614

In [29]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [30]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
mass_kg               2
dtype: int64

In [31]:
penguins['bill_depth_mm'].mean()

17.151169590643274

In [32]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [33]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
mass_kg               2
dtype: int64

In [34]:
penguins['flipper_length_mm'].mean()

200.91520467836258

In [35]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [36]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
mass_kg               2
dtype: int64

In [37]:
penguins['body_mass_g'].mean()

4201.754385964912

In [38]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [39]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
mass_kg               2
dtype: int64

In [40]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [41]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [42]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
mass_kg              2
dtype: int64

In [43]:
penguins['mass_kg'] = penguins['mass_kg'].fillna(penguins['mass_kg'].mean())

In [44]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
mass_kg              0
dtype: int64

In [45]:
male_chinstrap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 277 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            34 non-null     object
 1   island             34 non-null     object
 2   bill_length_mm     34 non-null     float64
 3   bill_depth_mm      34 non-null     float64
 4   flipper_length_mm  34 non-null     float64
 5   body_mass_g        34 non-null     float64
 6   sex                34 non-null     object
 7   year               34 non-null     int64
 8   mass_kg            34 non-null     float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.7+ KB

<h1>Changing the data type</h1>

In [46]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
 8   mass_kg            344 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 24.3+ KB

In [47]:
penguins['species'] = penguins['species'].astype('category')
penguins['year'] = penguins['year'].astype('category')
penguins['island'] = penguins['island'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')

In [48]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    category
 8   mass_kg            344 non-null    float64
dtypes: category(4), float64(5)
memory usage: 15.4 KB

<h1>Exploratory Data Analytics</h1>

In [49]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.800000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.200000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.202047
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.400000
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.800000
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.800000

<h1>Random questions</h1>

<h4>1. Which species has the shortest flipper length by average?</h4>

In [50]:
chinstrap_dataframe['flipper_length_mm'].mean()

195.8235294117647

In [51]:
gentoo_dataframe['flipper_length_mm'].mean()

217.1869918699187

In [52]:
adelie_dataframe['flipper_length_mm'].mean()

189.95364238410596

<h4>Insight: I, therefore conclude, that the Adelie species has the shortest flipper length based on the dataset.</h3>

<<h4>2. How many are the female and male species in whole data?</h4>

In [53]:
penguins['sex'].value_counts()

sex
male      179
female    165
Name: count, dtype: int64

<h4>Insight: We can see from the result that there are more male species then female.</h4>

<h4>3. Which is the least number of species?</h4>

In [54]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h4>Insight: Based on the result, Chinstrap has the least number of species while Adelie has the most.</h4>

In [55]:
chinstrap_dataframe['sex'].value_counts()

sex
female    34
male      34
Name: count, dtype: int64

<h1>Data Aggregation</h1>
<h2>How many species per island?</h2>

In [56]:
perisland = penguins.groupby(['species', 'island']).count()

In [57]:
perisland

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe                 44             44                 44
          Dream                  56             56                 56
          Torgersen              52             52                 52
Chinstrap Biscoe                  0              0                  0
          Dream                  68             68                 68
          Torgersen               0              0                  0
Gentoo    Biscoe                124            124                124
          Dream                   0              0                  0
          Torgersen               0              0                  0

                     body_mass_g  sex  year  mass_kg
species   island
Adelie    Biscoe              44   44    44       44
          Dream               56   56    56       56
          Torgersen           52   52    52       52
Chinstrap Biscoe               0    0     0        0
          Dream               68   68    68       68
          Torgersen            0    0     0        0
Gentoo    Biscoe             124  124   124      124
          Dream                0    0     0        0
          Torgersen            0    0     0        0

In [58]:
persex = penguins.groupby(['species', 'sex']).count()

In [59]:
persex

                  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   sex
Adelie    female      73              73             73                 73
          male        79              79             79                 79
Chinstrap female      34              34             34                 34
          male        34              34             34                 34
Gentoo    female      58              58             58                 58
          male        66              66             66                 66

                  body_mass_g  year  mass_kg
species   sex
Adelie    female           73    73       73
          male             79    79       79
Chinstrap female           34    34       34
          male             34    34       34
Gentoo    female           58    58       58
          male             66    66       66

<h2>What is the maximum body mass a penguin can get?</h2>

In [60]:
permass = penguins.groupby(['species', 'mass_kg']).size().max()

In [61]:
permass

15

<h2>What is the average flipper length per island and by sex?</h2>

In [62]:
aveperflipper = penguins.groupby(['species', 'island', 'sex'])['flipper_length_mm'].mean()

In [63]:
aveperflipper

species    island     sex
Adelie     Biscoe     female    187.181818
                      male      190.409091
           Dream      female    187.851852
                      male      191.482759
           Torgersen  female    188.291667
                      male      194.032686
Chinstrap  Biscoe     female           NaN
                      male             NaN
           Dream      female    191.735294
                      male      199.911765
           Torgersen  female           NaN
                      male             NaN
Gentoo     Biscoe     female    212.706897
                      male      220.877503
           Dream      female           NaN
                      male             NaN
           Torgersen  female           NaN
                      male             NaN
Name: flipper_length_mm, dtype: float64

<h1>Ano ang pinakamabigat sa gentoo and anong sex?</h1>

In [64]:
gentookg = penguins.groupby(['island', 'mass_kg', 'sex']).size()

In [65]:
gentookg

island     mass_kg  sex
Biscoe     2.7      female    0
                    male      0
           2.8      female    2
                    male      0
           2.9      female    2
                             ..
Torgersen  5.8      male      0
           6.0      female    0
                    male      0
           6.3      female    0
                    male      0
Length: 210, dtype: int64

<h2>Is there a correlation between bill length and mass kg?</h2>

<h1>Pearson R</h1>

In [66]:
billmasscorr = penguins['bill_length_mm'].corr(penguins['mass_kg'])
billmasscorr

0.5931909179206184

Insights: There is a correlation between them.

In [67]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.800000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.800000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.200000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.202047
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.400000
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.000000
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.400000
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.800000
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.100000
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.800000

<h2>Is there a correlation between bill length and flipper lenght?</h2>

In [68]:
billflippercorr = penguins['bill_length_mm'].corr(penguins['flipper_length_mm'])
billflippercorr

0.6561813407464278

Insight: theres a correlation between them.

<h1>One way anova</h1>

In [69]:
from scipy.stats import f_oneway

<h2>Is there a correlation between sex and bill depth?</h2>

In [70]:
penguins[penguins['sex'] == 'male']['bill_depth_mm']

0      18.70000
3      17.15117
5      20.60000
7      19.60000
8      18.10000
         ...
334    18.80000
336    19.50000
339    19.80000
341    18.20000
342    19.00000
Name: bill_depth_mm, Length: 179, dtype: float64

In [71]:
penguins[penguins['sex'] == 'female']['bill_depth_mm']

1      17.4
2      18.0
4      19.3
6      17.8
12     17.6
       ...
335    19.4
337    16.5
338    17.0
340    18.1
343    18.7
Name: bill_depth_mm, Length: 165, dtype: float64

In [72]:
pvalue = f_oneway(penguins[penguins['sex'] == 'male']['bill_depth_mm'], penguins[penguins['sex'] == 'female']['bill_depth_mm'])

In [73]:
pvalue

F_onewayResult(statistic=49.116852993833895, pvalue=1.290648175154592e-11)

<h2>Insight: There is a correlation between sex and bill depth.</h2>

<hr>
<h2>Questions need to be answered: Ano ang pinakamabigat na species? what year, and anong sex</h2>

<h1>Is there a correlation between the species and their body mass?</h1>

In [74]:
penguins[penguins['species'] == 'Adelie']['body_mass_g']

0      3750.000000
1      3800.000000
2      3250.000000
3      4201.754386
4      3450.000000
          ...
147    3475.000000
148    3450.000000
149    3750.000000
150    3700.000000
151    4000.000000
Name: body_mass_g, Length: 152, dtype: float64

In [75]:
penguins[penguins['species'] == 'Chinstrap']['body_mass_g']

276    3500.0
277    3900.0
278    3650.0
279    3525.0
280    3725.0
        ...
339    4000.0
340    3400.0
341    3775.0
342    4100.0
343    3775.0
Name: body_mass_g, Length: 68, dtype: float64

In [76]:
penguins[penguins['species'] == 'Gentoo']['body_mass_g']

152    4500.000000
153    5700.000000
154    4450.000000
155    5700.000000
156    5400.000000
          ...
271    4201.754386
272    4850.000000
273    5750.000000
274    5200.000000
275    5400.000000
Name: body_mass_g, Length: 124, dtype: float64

In [77]:
result, pvalue = f_oneway(penguins[penguins['species'] == 'Adelie']['body_mass_g'], penguins[penguins['species'] == 'Chinstrap']['body_mass_g'], penguins[penguins['species'] == 'Gentoo']['body_mass_g'])

In [78]:
pvalue

1.0069770504491128e-81

<h2>Insight: There's a correlation between the three species.</h2>

<h1>Is there a correlation between the three island and their flipper length?</h1>

In [79]:
penguins[penguins['island'] == 'Dream']['flipper_length_mm']

30     178.0
31     178.0
32     188.0
33     184.0
34     195.0
       ...
339    207.0
340    202.0
341    193.0
342    210.0
343    198.0
Name: flipper_length_mm, Length: 124, dtype: float64

In [80]:
penguins[penguins['island'] == 'Biscoe']['flipper_length_mm']

20     174.000000
21     180.000000
22     189.000000
23     185.000000
24     180.000000
          ...
271    200.915205
272    215.000000
273    222.000000
274    212.000000
275    213.000000
Name: flipper_length_mm, Length: 168, dtype: float64

In [81]:
penguins[penguins['island'] == 'Torgersen']['flipper_length_mm']

0      181.000000
1      186.000000
2      195.000000
3      200.915205
4      193.000000
5      190.000000
6      181.000000
7      195.000000
8      193.000000
9      190.000000
10     186.000000
11     180.000000
12     182.000000
13     191.000000
14     198.000000
15     185.000000
16     195.000000
17     197.000000
18     184.000000
19     194.000000
68     190.000000
69     198.000000
70     190.000000
71     190.000000
72     196.000000
73     197.000000
74     190.000000
75     195.000000
76     191.000000
77     184.000000
78     187.000000
79     195.000000
80     189.000000
81     196.000000
82     187.000000
83     193.000000
116    188.000000
117    199.000000
118    189.000000
119    189.000000
120    187.000000
121    198.000000
122    176.000000
123    202.000000
124    186.000000
125    199.000000
126    191.000000
127    195.000000
128    191.000000
129    210.000000
130    190.000000
131    197.000000
Name: flipper_length_mm, dtype: float64

In [82]:
result, pvalue = f_oneway(penguins[penguins['island'] == 'Dream']['flipper_length_mm'], penguins[penguins['island'] == 'Biscoe']['flipper_length_mm'], penguins[penguins['island'] == 'Torgersen']['flipper_length_mm'])

In [83]:
pvalue

2.388459860537622e-35

<h2>Insight: There is a correlation between them.</h2>

In [84]:
gentoo_dataframe

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [85]:
gentoo_mean = penguins[penguins['species'] == 'Gentoo']['body_mass_g'].mean()

In [86]:
gentoo_mean

5068.965761177136

In [87]:
adelie_mean = penguins[penguins['species'] == 'Adelie']['body_mass_g'].mean()

In [88]:
adelie_mean

3703.95891043398

In [89]:
chinstrap_dataframe = penguins[penguins['species'] == 'Chinstrap']['body_mass_g'].mean()

In [90]:
chinstrap_dataframe

3733.0882352941176

In [91]:
gentoo_year = penguins[penguins['species'] == 'Adelie']['body_mass_g'].mean() == 5068.965761177136
gentoo_year

False